extends ../layout/admin

block styles
  meta(name="csrf-token" content=csrfToken)

block contenido
  .py-10
    h1.text-4xl.my-10.font-extrabold.text-center My Photos
    if photos.length
      div(class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8")
        each photo in photos
          .flex flex-col items-center justify-center bg-gray-200 rounded-md p-4
            img(src=`/img/uploads/${photo.image || 'placeholder.jpg'}`, alt=photo.title, class="w-full h-40 object-cover rounded-md mb-4")
            h2.text-xl.font-bold.mb-2= photo.title
            p.text-gray-600= photo.description
      else
        p.text-center No photos available

block scripts