extends ../layout/index

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block content
    .py-1
        .bg-cream.shadow.py-8.py-4.rounded.mx-auto.max-w-4xl.my-10(class="md:px-10")
            if errors
                div(class="max-w-md mx-auto my-10")
                    each error in errors
                        div(class="bg-red-500 border-t-4 border-red-900 rounded-b text-teal-900 px-4 py-1 shadow-xl mb-2" role="alert")
                            div.flex
                                div.py-1
                                    svg.fill-current.h-6.w-6.text-red-900.mr-4(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")
                                    path(d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32")
                                div
                                    p(class="text-navajo-white uppercase text-xs p-2 mb-1 font-bold")= error.msg
            form.space-y-8(action="/photo/create" method="POST")
                div.space-y-8
                    h3(class="text-lg leading-6 font-md text-gray-900 uppercase font-bold") Photo Information
                    p(class="text-gray-600") Please enter the specific information for the photo.
                    div
                        label(for="title" class="block text-sm uppercase text-gray-500 mb-3 font-bold") Title of Photo
                        input(type="text" name="title" class="#title w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="e.g., Beautiful Sunset" value=data.title ? data.title : '')#title
                    div
                        div
                        label(for="description", class="block text-sm uppercase text-gray-500 mb-3 font-bold") Description of Photo
                        textarea#description(name="description" rows="10" placeholder="Detailed description about the photo").w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400= data.description ? data.description : ''

                div(class="md:flex md:gap-4")
                    div(class="md:w-1/2")
                        label(for="category").block.text-sm.uppercase.text-gray-500.mb-3.font-bold Category
                        select#category.w-full.px-3.py-2.border.border-gray-300.rounded(name="category")
                            option(value="" selected disabled) --SELECT CATEGORY--
                            each category in categories
                                option(value=category.id, selected=data.category === category.id)= category.name
                            
                    div(class="md:w-1/2")
                        label(for="priceRange").block.text-sm.uppercase.text-gray-500.mb-3.font-bold Price Range
                        select#priceRange.w-full.px-3.py-2.border.border-gray-300.rounded(name="priceRange")
                            option(value="" selected disabled) --SELECT PRICE--
                            each price in prices
                                option(value=price.id, selected=data.priceRange === price.id)= price.name

                div.border-gray-200.border-t.py-5.space-y-4
                    h3.text-lg.leading-6.font-medium.text-gray-900 Ubicación
                    p.text-gray-900 Ubica la foto en el mapa
                #map.h-96.mt-10
                div
                    p.street= data.street ? data.street : ''
                    div(id="lastVisitMessage" class="bg-white text-center text-black mt-8 border rounded")
                    input(type="hidden" name="street" id="street" value=data.street ? data.street : '')
                    input(type="hidden" name="lat" id="lat" value=data.lat ? data.lat : '')
                    input(type="hidden" name="lng" id="lng" value=data.lng ? data.lng : '')
                    p.street=data.street ? data.street : ''

                input(class="w-full py-3 mt-4 bg-teal hover:bg-rosa rounded text-black font-bold uppercase cursor-pointer" type="submit" value="Añadir imagen")
block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js")
    script(src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js")
    script(src="/js/map.js")
