extends ../layout/index

block content
  div.py-5
    h1.text-center.text-4xl.font-extrabold.my-3.text-majorelle-blue Key
      span.font-bold.text-rsisin-black Frame
    if errors
      div(class="max-w-md mx-auto my-10")
        each error, index in errors
          div(id="alert-" + index, class=`alert fade-in bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md transition-opacity-${index}` role="alert")
            div(class="flex")
              div(class="py-1")
                svg(class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")
                  path(d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z")
              div
                p(class="font-bold")= error.msg
  .mt-8.mx-auto.max-w-md
    .bg-platinum.py-8.px-4.shadow-xl.rounded-3xl
      h2.text-center.text-3xl.font-extrabold.mb-6= page
      form.space-y-4(action="/auth/registerAccount" method="post" noValidate class="flex items-center flex-col justify-center gap-5")
        div.w-full
          label.block.text-sm.text-xanthous.mb-2.font-bold(for="name") Your name
          input#name.w-full.px-3.py-2.border.border-gray-300.rounded-xl(class="ease-in-out focus:outline-none focus:border-2 focus:border-majorelle-blue" placeholder="Full name" type="text" name="name" value=user ? user.name : '' required)
        div.w-full
          label.block.text-sm.text-xanthous.mb-2.font-bold(for="email") Email Register
          input#email.w-full.px-3.py-2.border.border-gray-300.rounded-xl(class="ease-in-out focus:outline-none focus:border-2 focus:border-majorelle-blue" placeholder="user@domain.com" type="email" name="email" value=user ? user.email : '' required)
        div.w-full
          label.block.text-sm.text-xanthous.mb-2.font-bold(for="password") Password
          input#password.w-full.px-3.py-2.border.border-gray-300.rounded-xl(class="ease-in-out focus:outline-none focus:border-2 focus:border-majorelle-blue" placeholder="Your password" type="password" name="password" required)
        div.w-full
          label.block.text-sm.text-xanthous.mb-2.font-bold(for="repeat-password") Repeat Password
          input#repeatPassword.w-full.px-3.py-2.border.border-gray-300.rounded-xl(class="ease-in-out focus:outline-none focus:border-2 focus:border-majorelle-blue" placeholder="Repeat your password" type="password" name="repeatPassword" required)

        div.flex.items-center.justify-between.w-full
          a.text-xs.font-medium(href="/auth/login" class="hover:underline decoration-2 decoration-majorelle-blue") Have an account? 
            span.text-majorelle-blue Log in
          a.text-xs.font-medium(href="/auth/forgot-password" class="hover:underline decoration-2 decoration-majorelle-blue") Forgot your password? 
            span.text-majorelle-blue Recover it
        button(class="w-[50%] bg-rsisin-black text-white font-bold p-2 cursor-pointer rounded-xl ease-in-out transition-all hover:scale-[1.05] hover:bg-english-violet/90 hover:bg-majorelle-blue active:scale-[0.95]" type="submit" value="Create account") Create Account
